* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

:root {
  --dark-gray: #3a3a3a;
  --title-gray: #18191f;
  --price-dark-color: rgba(0, 0, 0, 0.87);
  --additional-gray: #787885;
}

nav {
  display: flex;

  justify-content: space-between;
  margin-top: 87px;
}
.hamburger-btn {
  display: none;
}
.shopping-cart-icon {
  display: none;
}
.nav-bar {
  width: 75%;
  margin: 0 auto;
}
nav h3 {
  font-size: 24px;
  color: var(--dark-gray);
  font-weight: 700;
}
.navbar-right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.nav-items {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

main {
  width: 75%;
  margin: 0 auto;
}
/* -----------hero section------------- */
.hero-section {
  display: flex;
  justify-content: space-between;
  /* padding-left: 120px;
  padding-right: 120px; */
  margin-top: 30px;
  /* gap: 133px; */
  /* height: 480px; */
}

.hero-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 45%;
}

.hero-heading {
  color: var(--dark-gray);
  font-family: Poppins;
  font-size: 3.25rem;

  font-weight: 700;
  line-height: 70px; /* 134.615% */
  margin-bottom: 0px;
}
.hero-paragraph {
  color: var(--dark-gray);
  font-family: Poppins;
  font-size: 16px;

  font-weight: 600;
}
.prebook-btn {
  border-radius: 41px;
  background: #e02c6d;
  width: fit-content;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.right-section {
  background: url(../images/Circle\ design.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* ---------web section------- */
.web {
  border: rgba(192, 204, 218, 0.2) 1px solid;
  margin-top: 69px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.web > img {
  /* width: 97.059px; */
  height: 28px;
}
/* -------Popular Collection Section------- */
.popular-collection > h2 {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px; /* 250% */
}
.popular-collection {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection-items {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection-items > .item > img {
  width: 100%;
}
.item {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.collection-item-title {
  color: var(--title-gray);

  font-size: 28px;

  font-weight: 500;
  line-height: 40px; /* 142.857% */
  margin: 0;
}
.collection-item-price {
  color: var(--price-dark-color);
  font-family: Inter;
  font-size: 24px;

  font-weight: 400;
  line-height: 150%; /* 36px */
  margin: 0;
}
.collection-item-rating {
  display: flex;
  gap: 5px;
  align-items: center;
}

.collection-item-rating > p {
  color: var(--gray-80, #5e6366);
  font-family: Roboto;
  font-size: 14px;

  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.1px;
  margin: 0;
}
.collection-item-additional {
  width: 196px;
  color: var(--additional-gray);
  font-family: Inter;
  font-size: 14px;

  font-weight: 700;
  line-height: 143%; /* 20.02px */
  letter-spacing: 0.252px;
}
.see-more-link {
  align-self: flex-end;
  margin-top: 50px;
  color: rgba(224, 44, 109, 0.87);

  font-size: 16px;

  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ----------feature product section --------- */
.feature-product {
  display: flex;
  gap: 96px;
}
.feature-product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.feature-product-description > h2 {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px; /* 157.895% */
}
.feature-product-description > p {
  /* margin-top: 16px; */
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px; /* 175% */
}
.join-now-btn {
  display: flex;
  gap: 5px;
  background-color: #e02c6d;
  width: fit-content;
  padding: 10px 24px;
  color: #fff;
  font-size: 16px;

  font-weight: 700;
}
footer {
  margin-top: 100px;
  background: #0a0826;
  text-align: center;
  color: #fff;
  padding: 50px 0;
}
footer > .contact-items {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 17px;
}

/* ----------- media queries ------------ */
@media screen and (max-width: 768px) {
  /* ---------- Navbar Section ------------ */
  .hamburger-btn {
    display: block;
  }
  .shopping-cart-icon {
    display: block;
  }
  nav {
    flex-direction: column;
    margin-top: 35px;
  }
  nav h3 {
    font-size: 16px;
  }
  .nav-bar {
    width: 100%;
  }
  .nav-items {
    flex-direction: column;
  }
  .mobile-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-right {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    gap: 10px;
  }
  .nav-items {
    gap: 10px;
    padding: 0;
  }
  /* ----------- Main Section----------- */
  main {
    width: 90%;
  }
  /* ---------- Hero Section---------- */
  .hero-section {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
  .hero-left-section {
    width: 100%;
  }
  .right-section {
    /* height: 100%;
    width: 100%; */

    padding: 0;
  }
  .hero-heading {
    text-align: center;

    font-size: 28px;
    line-height: normal;
  }
  .hero-paragraph {
    text-align: center;
    font-size: 14px;
  }
  .prebook-btn {
    margin-top: 20px;
    margin: 20px auto 0;
  }
  .right-section > img {
    width: 90%;
    height: 90%;
  }
  /* ---------- Web Section ----------- */
  .web {
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 20px;
    justify-items: center;
  }
  /* ------------ Popular Collection Section------------- */

  .collection-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .collection-item-title {
    font-weight: 700;
  }
  .collection-item-price {
    font-weight: 700;
  }
  .collection-item-rating > p {
    font-weight: 500;
  }
  .collection-item-additional {
    font-weight: 400;
    margin: 5px 0 27px;
  }
  .item {
    padding: 20px;
  }
}
